---
---

<header class="header crt">
  <nav>
    <ul>
      <li><a class="link-item" href="#home">Home</a></li>
      <li><a class="link-item" href="#skills">Skills</a></li>
      <li><a class="link-item" href="#projects">Projects</a></li>
    </ul>
  </nav>
</header>

<style>
  .header {
    height: 4rem;
    width: max-content;
    top: 0.5rem;
    overflow: hidden;
    border: var(--border);
    padding-inline: 2rem;
    right: 4rem;
    position: fixed;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: end;
    z-index: 20;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
      rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

    filter: drop-shadow(0 0.3rem 0.85rem rgb(245, 227, 181, 0.25));
  }

  .header ul {
    display: flex;
    align-items: center;
    justify-content: end;

    gap: 1rem;
    filter: blur(0px);
  }
  .header ul li {
    list-style: none;
  }
  .header ul li a {
    text-decoration: none;
    color: #f5e3b5;
    font-size: 1.2rem;
  }

  @media (max-width: 768px) {
    .header {
      padding-inline: 1rem;
      right: 1rem;
    }
  }
</style>
